#Author {
         float: left;
         width: 150px;
         height: 92px;
         margin-right: 16.3vh;
         margin-top: 0px;
        }
a:link {
        text-decoration: none;
        color: black;
        display: inline-block;
        padding: 13px;
       }
a:hover {
         color: lightgrey;
         transition: 0.1s ;
        }
a:active {
          background-color: black;
          color: white;
          display: inline-block;
          padding: 13px;
         }
.L1 {
     font-size: 14px;
     font-family: Verdana;
     margin-left: 23px;
     margin-top: 20px;
     color: black;
    }
hr {
    margin-top: 33px;
   }
p {
   margin-left: 380px;
   margin-right: 380px;
   font-size: 19px;
  }
ul {
    font-size: 19px;
   }