body{
	margin: 0px;
	padding: 0px;
	justify-content: center;
	align-items: center;
	height: 100vh;
	display: flex;
	font-family: consolas;
	background-color: #031321;
}
a{
	padding: 10px 18px 10px 18px;
	text-decoration: none;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #2196f3;
	font-size: 25px;
}
a:hover{
	color: #255784;
	background-color: #2196f3;
	box-shadow: 0 0 10px #2196f3,0 0 30px #2196f3,0 0 80px #2196f3;
	transition-delay: 0.05s;
	border-radius: 25px;
}

